@media (min-width: 992px) {
  .toolbar-title-md,
  .item-md {
    font-size: 1.5rem !important;
  }
  .grid {
    div {
      font-size: 1.2rem !important;
    }
  }
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

.error {
  color: #f53d3d;
  margin: 5px 10px;
  font-size: 10px;
}

.bdr-btm {
  border-bottom: 1px solid lightgray;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-md ion-icon[item-start]+.item-inner {
  margin-left: 0;
}

.item-md {
  padding-left: 0;
}
